<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tigertown.conosco" >
    <uses-permission android:name=”android.permission.READ_CONTACTS”></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		android:resizeableActivity = "true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
			android:name=".views.PeepsList"
			android:label="@string/app_name"></activity>
		<activity
			android:name=".views.PersonEdit"
			android:label="@string/app_name"></activity>
		<activity
			android:name=".views.AnniversaryEdit"
			android:label="@string/app_name"></activity>
		<activity
			android:name=".views.GiftIdeaEdit"
			android:label="@string/app_name"></activity>
		<activity
			android:name=".views.GiftIdeaList"
			android:label="@string/app_name"></activity>
		<activity
			android:name=".views.AnniversaryList"
			android:label="@string/app_name"></activity>
		<activity
			android:name=".views.AnniversaryTypeEdit"
			android:label="@string/app_name"></activity>
	    	<activity
			android:name=".views.FaveEdit"
			android:label="@string/app_name"></activity>
	    	<activity
			android:name=".views.FaveList"
			android:label="@string/app_name"></activity>
	    	<activity
			android:name=".views.FaveTypeEdit"
			android:label="@string/app_name"></activity>
    </application>
</manifest>
